body {
  background-color: silver;
}

#cvHeader {
  display: flex;
  background-color: #242e38;
  color: #b98c04;
  justify-content: center;
  padding: 2% 0% 2% 0%;
  position: relative;
}

#cvHeader p {
  color: #b98c04;
  font-style: italic;
  position: absolute; /* Lägg till absolut positionering på p-elementet */
  top: 1%; /* Justera top-värde efter behov */
  right: 92%; /* Justera left-värde efter behov */
}

#cvMain {
  display: flex;
  flex-direction: row;
}

#cvAside {
  background-color: #242e38;
  flex: 1;
  margin: 5% 5% 2% 3%;
  border-radius: 8px;
}

#cvArticles {
  background-color: silver;
  flex: 1;
  margin: 5% 5% 2% 3%;
}

.profileImage {
  width: 140px;
  height: 140px;
  border: 2px solid #222222;
  position: absolute;
  top: 15%;
  right: 80%;
}
.cvAsideMain {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  color: silver;
}

.cvAsideMain h3 {
  color: #b98c04;
}

.cvArticlesMain h3 {
  color: #b98c04;
}

.cvArticlesMain h4 {
  color: #222222;
}

.cvArticlesMain h5 {
  color: #222222;
}

.cvArticlesMain p {
  color: #222222;
}

.cvAsideContainer {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(218, 196, 196, 0.747);
  transition: box-shadow 0.3s ease;
}

.cvArbeteContainer {
  /* border: 1px solid #ddd; */
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.cvArbeteContainer:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.date {
  font-style: italic;
}

.readMoreButton {
  cursor: pointer;
  text-decoration: none;
  display: inline;
}

/* .readMoreButton:hover {
  color: rgb(102, 101, 101);
} */
