body {
  background-color: silver;
}

#cvMainContainer {
  position: relative;
}

#cvHeader {
  display: flex;
  background-color: #242e38;
  color: #b98c04;
  justify-content: center;
  padding: 2% 0% 2% 0%;
}

#cvHeader p {
  color: #b98c04;
  font-style: italic;
  position: absolute; /* Lägg till absolut positionering på p-elementet */
  top: 1%; /* Justera top-värde efter behov */
  right: 92%; /* Justera left-värde efter behov */
}

#cvMain {
  display: flex;
  flex-direction: row;
}

#cvAside {
  background-color: #242e38;
  flex: 1;
  margin: 5% 5% 2% 3%;
  border-radius: 8px;
}

#cvArticles {
  background-color: silver;
  flex: 1;
  margin: 5% 5% 2% 3%;
}

.profileImage {
  width: 140px;
  height: 140px;
  border: 2px solid #222222;
  position: absolute;
  top: 5%;
  right: 80%;
}

.cvAsideMain {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  color: silver;
}

.cvAsideMain h3 {
  color: #b98c04;
}

.cvArticlesMain h3 {
  color: #b98c04;
}

.cvArticlesMain h4 {
  color: #222222;
}

.cvArticlesMain h5 {
  color: #222222;
}

.cvArticlesMain p {
  color: #222222;
}

.cvAsideContainer {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(218, 196, 196, 0.747);
  transition: box-shadow 0.3s ease;
}

.cvArbeteContainer {
  /* border: 1px solid #ddd; */
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.cvArbeteContainer:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.date {
  font-style: italic;
}

.readMoreButton {
  cursor: pointer;
  text-decoration: none;
  display: inline;
}
/* @media (max-width: 576px) {
  .profileImage {
    width: 50px;
    height: 50px;
    border: 2px solid #222222;
    position: static;
    margin: 0 auto;
  }
} */

@media (max-width: 768px) {
  /* Add styles for medium screen size and below */

  #cvMain {
    flex-direction: column;
  }

  .profileImage {
    width: 100px;
    height: 100px;
    border: 2px solid #222222;
    position: absolute;
    top: 3%;
    right: 80%;
  }

  #cvAside,
  #cvArticles {
    margin: 5% 3% 2% 3%; /* Adjust margins for better spacing in a single column layout */
  }

  #cvHeader p {
    position: static; /* Change the position to static for normal flow */
    text-align: center; /* Center the text */
    margin-top: 1%; /* Adjust margin as needed */
    margin-right: 0; /* Reset right margin */
  }
}
