.space {
  background-color: #222222;
  height: 100px;
  margin: 0;
}

#homeContainer {
  background-color: #222222;
  color: #b98c04;
  height: 100%;
}
#homeInnerContainer {
  margin: 0 5%;
  border: 2px solid;
  border-image: linear-gradient(to right, #b98c04, orange, silver);
  border-image-slice: 1;
}

#homeMainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  gap: 10%;
}

#homeInfo {
  flex-basis: 80%;
}

#homeNav {
  flex-basis: 20%;
}

#homeNav nav {
  display: flex;
  flex-direction: column;
}

.profileImage {
  width: 140px;
  height: 140px;
  border: 2px solid #b98c04;
}

@media (max-width: 768px) {
  #homeMainSection {
    display: flex;
    flex-direction: column;
  }

  #homeInfo,
  #homeNav {
    width: 100%;
  }
}
