/* header,
footer {
  background-color: #242e38;
  color: #fff;
  padding: 10px;
  text-align: center;
  padding-left: -10px;
}

.logo {
  color: #b98c04;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color: #b98c04;
}

nav a:hover {
  border-color: #b98c04;
}

footer p {
  text-align: center;
  color: #b98c04;
  margin: 40px auto;
} */
